* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Flex", sans-serif;
  color: #000;
}

.header {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #CCC;
}
.header__menu {
  display: grid;
  grid-auto-flow: column;
  padding: 39px 0;
  justify-content: start;
  gap: 60px;
}
.header__logo {
  padding: 34px 0 39px;
}
.header__autorization {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 10px;
}
.header__autorization__btn {
  padding: 10px 0;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 600;
}
.header__autorization__btn--btnOrange {
  background-color: #FF6336;
  color: #fff;
}

.accelerate {
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: center;
  padding: 130px 0 180px;
  align-items: center;
}
.accelerate__description__h2 {
  font-size: 65px;
  font-weight: 600;
  padding-bottom: 50px;
}
.accelerate__description__text {
  font-size: 25px;
  width: 70%;
  padding-bottom: 50px;
}
.accelerate__description__try {
  padding-bottom: 25px;
}
.accelerate__description__try__btn {
  min-width: 160px;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 600;
}
.accelerate__description__try__btn--btnOrange {
  background-color: #FF6336;
  color: #fff;
}
.accelerate__description__comment {
  font-size: 15px;
}

.companies {
  display: grid;
  justify-items: center;
  background-color: #FF6336;
  padding: 100px 0 100px;
}
.companies__h2 {
  font-size: 50px;
  font-weight: 600;
  width: 39%;
}
.companies__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 100px;
  padding: 80px 0 115px;
}

.prez {
  padding: 125px 0;
  display: grid;
  grid-template-columns: repeat(2, 47%);
  align-items: center;
  justify-content: space-evenly;
  justify-items: stretch;
}
.prezprez__h2 {
  font-size: 50px;
  width: 70%;
  padding-bottom: 30px;
}
.prez__text {
  font-size: 20px;
  width: 70%;
  padding-bottom: 30px;
}
.prez__btn {
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  border: none;
}

.prez__pt {
  padding-top: 100px;
}

.prez__pb {
  padding-bottom: 150px;
}

.lokalise {
  padding: 120px 0 93px;
  background-color: #FFF8E4;
  display: grid;
  justify-items: center;
  gap: 58px;
}
.lokalise__h2 {
  font-size: 65px;
  font-weight: 600;
}
.lokalise__list {
  display: grid;
  grid-template-columns: repeat(3, 22%);
  justify-content: center;
  gap: 57px 110px;
}
.lokalise__item {
  display: grid;
  grid-template-rows: 150px auto;
  justify-items: center;
  align-items: start;
}
.lokalise__item__head {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 34px;
}
.lokalise__item__info {
  font-size: 20px;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
}

.boost {
  padding: 155px 0 215px;
  display: grid;
  justify-items: center;
}
.boost__h2 {
  font-size: 50px;
  font-weight: 600;
}
.boost__list {
  display: grid;
  grid-template-columns: repeat(3, 29%);
  justify-content: center;
}
.boost__list__item {
  display: grid;
  grid-template-rows: 295px auto;
  justify-items: start;
  align-items: center;
}
.boost__list__item__head {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 34px;
}
.boost__list__item__info {
  font-size: 20px;
  padding-bottom: 25px;
  width: 90%;
}
.boost__list__item__link {
  text-decoration: underline;
}

.revolute {
  background-color: #C9E8F2;
  padding: 63px 0 105px;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: minmax(auto, 60%);
  justify-content: center;
  justify-items: end;
}
.revolute__content {
  display: grid;
  grid-template-rows: auto;
  gap: 23px;
}
.revolute__content__info {
  font-size: 30px;
}
.revolute__content__sign {
  font-size: 15px;
}

.translation {
  background-color: #DABC98;
  padding: 80px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 16% 37% 32%;
  align-items: center;
}
.translation__head {
  font-size: 35px;
  font-weight: 600;
}
.translation__rating {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  border-left: 1px solid #000;
}
.translation__rating__one {
  display: grid;
  justify-content: center;
  padding: 30px 0;
}
.translation__rating__one__img {
  padding-bottom: 20px;
}
.translation__rating__one__imgStars {
  padding-bottom: 14px;
}
.translation__rating__one__comment {
  text-transform: uppercase;
}

.integrate {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  padding: 170px 0 130px;
}
.integrate__head {
  font-size: 65px;
  font-weight: 600;
}
.integrate__info {
  padding-bottom: 25px;
  width: 30%;
  text-align: center;
}
.integrate__img {
  padding-bottom: 32px;
}
.integrate__head {
  font-size: 65px;
  font-weight: 600;
  width: 70%;
  text-align: center;
}
.integrate__btn {
  padding: 10px 20px;
  border: none;
  background-color: #FF6336;
  color: #fff;
}

.easy {
  display: grid;
  background-color: #FF9C7D;
  justify-content: center;
  justify-items: center;
  padding: 120px 0 160px;
}
.easy__head {
  font-size: 65px;
  font-weight: 600;
  max-width: 784px;
  text-align: center;
}
.easy__head {
  padding-bottom: 29px;
}
.easy__info {
  font-size: 20px;
  padding-bottom: 54px;
}
.easy__btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 20px 40px;
  font-size: 17px;
  font-weight: 600;
}

.map {
  display: grid;
  grid-template-columns: 24.5% 56.3%;
  gap: 70px;
  justify-content: center;
  padding: 95px 0;
  background-color: #EEEEEE;
}

.case__head {
  font-size: 40px;
  padding-bottom: 28px;
}
.case__img {
  padding-bottom: 31px;
}
.case__logo {
  padding-bottom: 11px;
}
.case__info {
  font-size: 20px;
  max-width: 80%;
  padding-bottom: 15px;
}
.case__link {
  font-size: 20px;
  font-weight: 600;
}

.menu {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
}
.menu__one__head {
  padding-bottom: 21px;
  font-size: 20px;
  font-weight: 600;
}
.menu__one__list__item {
  font-size: 15px;
  padding-bottom: 15px;
}

.footer {
  background-color: #EEE;
}
.footer__conteiner {
  border-top: 1px solid #000;
  padding: 52px 0 43px;
  display: grid;
  grid-template-columns: 65% 20%;
  justify-content: space-between;
  max-width: 1290px;
  margin: auto;
}
.footer__conteiner__info {
  display: grid;
  grid-template-columns: 11% 30%;
  gap: 14px;
  align-items: center;
}
.footer__conteiner__info__p {
  font-size: 12px;
}
.footer__conteiner__rights {
  display: grid;
  grid-template-rows: auto;
}
.footer__conteiner__rights__sign {
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */