$white: #FFF;
$grey: #333;
$dark85: rgba(0, 0, 0, 0.85);
$dark: #000;
$green: rgb(30, 212, 0);
$dark50: rgba(0, 0, 0, 0.5);
$white40: rgba(255, 255, 255, 0.4);
$smoke: #D5D8DB;
$cian: #027FA5;
$green40: rgba(30, 212, 0, 0.4);