*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    background-color: #E5E5E5;;
}

.header_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header_link{
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
    padding: 17px 0;
}
.call_beauty{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    color: #F13C6E;
}

.call{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.call_logo{
    display: flex;
    align-items:center;
    gap: 20px;
}

.call_back{
    display: flex;
    align-items:center;
    gap: 40px;
}

.call_phone{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    padding: 50px 0 ;
}

.call_btn, .social_callback_btn{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 13px 60px;
    border: 2px solid #F13C6E ;
    background-color: #fff;
    border-radius: 40px;
}

.menu{
    display: flex;
    justify-content: center;
    border-top: 1px solid #EFEFEF;

}

.menu_nav{
    display: flex;
    gap: 40px;
}

.menu_link{
    padding: 30px 0;
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.chair{
    background-image: url(../img/chair_bgr.png);
    background-position: center;
    background-repeat: no-repeat;
}

.chair_cont{
    padding: 185px 15%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 308px;
}
.chair_h{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.chair_p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.chair_btn{
    max-width: 170px;
    background-color:#F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 13px 60px;
}

.chair_btn > a {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.offers, .recent{
    background-color: #E5E5E5;
}

.offers_h3, .recent_h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding: 80px 0 38px 13.3%;
}

.offers_list, .recent_list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.offers_item, .recent_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    
}

.offers_img, .recent_img{
    padding-top: 25px;
}

.offers_info, .recent_info{
    max-width: 195px;
    padding: 0 39px;
    text-align: center;
}

.offers_btn, .recent_btn{
    margin-bottom: 25px;
    padding: 9px 52px;
    background-color: #F13C6E;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
}

.offers_btn > a , .recent_btn > a {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.add{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
}

.bonuses , .visit{
    background-color: #F13C6E;
    display: flex;
    align-items: center;
    width: 35.7%;
    justify-content: space-around;
}

.bonuses_cont , .visit_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 35px;
}

.bonuses_info , .visit_info{
    max-width: 140px;
}

.bonuses_cont > input {
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    padding: 9px;
    color: #C4C4C4;
    font-size: 14px;
    width: 130%;
}

.visit_btn{

    border: 2px solid #FFFFFF;
    border-radius: 30px;
    background-color: #F13C6E;
    padding: 9px 53px;
}

.visit_btn > a {
    color: #FFFFFF;
}

.bonuses_h4 , .bonuses_info , .visit_h4 , .visit_info{
    color: #FFFFFF;
}

.bonuses_h4 , .visit_h4 {
    font-weight: 700;
    font-size: 18px;
}

.bonuses_info , .visit_info{
    font-size: 14px;
}

.impuls{
    display: flex;
    justify-content: center;
    background-color:  #E5E5E5;
    padding-top: 100px;
}

.impuls_list{
    display: flex;
    flex-wrap: wrap;
    width: 73.5%;
}

.impuls_item{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 63.4px;
    border: 1px solid #EFEFEF;
}

.recent_item{
    margin-bottom: 80px;
}

.categories{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.categories_list{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #EFEFEF;
    gap: 15px;
    padding-top: 25px;
}

.categories_one{
    width: 17%;
    padding-bottom: 60px;
}

.categories_h4{
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    padding: 60px 0 30px 0;
}

.categories_list > a {
    color: #828282;
}

.social{
    display: flex;
    justify-content: center;
    gap: 600px;
    border: 1px solid #EFEFEF;
}

.social_btn{
    border: 2px solid #F13C6E;
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
    background-color: #FFFFFF;
}

.social_links{
    padding: 38px 0 ;
    display: flex;
    gap: 20px;
}

.social_callback{
    display: flex;
    align-items:center;
    gap: 40px;
}

.footer{
    background-color:#EFEFEF;
}

.footer_cont{
    display: flex;
    justify-content: center;
    gap: 650px;
}

.footer_info, span{
    font-size: 12px;
    color:#828282;
    padding: 25px ;
}

